<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta lang="en">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header th:replace="header :: top"></header>
<form action="doctor" method="get">
    <fieldset>
        <label for="name">Your doctor's name: </label>
        <input id="name" name="doctorname" placeholder="John Smith" type="text">
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="doctornumber" placeholder="0" type="number">
        <hr>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>